<section class="hero">
    <div class="container">
      <h2>Bem-vindo ao Livros & Cia</h2>
      <p>Explore um mundo de histórias, aventuras e conhecimentos.</p>
      <button routerLink="/lista-livros" class="btn">Explorar</button>
    </div>
  </section>
  
  <section id="categorias" class="categorias">
    <button class="btn" (click)="togglePipe()">Desativar/ativar emoji</button>
    <div class="container">
      <h2>Categorias</h2>
      <div class="lista-categorias">
        <div class="categoria">
          <h3>{{'Ficção'| emojicategoria}}</h3>
          <p>Mergulhe em mundos imaginários e histórias épicas.</p>
        </div>
        <div class="categoria">
          <h3>{{'Nâo-Ficção' | emojicategoria}}</h3>
          <p>Descubra fatos, biografias e conhecimentos reais.</p>
        </div>
        <div class="categoria">
          <h3>{{'Ciência' | emojicategoria}}</h3>
          <p>Explore os mistérios do universo.</p>
        </div>
        <div class="categoria">
          <h3>{{'História'| emojicategoria}}</h3>
          <p>Reviva o passado e suas histórias.</p>
        </div>
      </div>
    </div>
  </section>