/*CSS PROVISORIO*/
.aboutus {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    top: 100%;
    background-color: #4CAF50;
}

.aboutus p {
    color: white;
}

.aboutus div {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.aboutus a {
    text-decoration: none;
    color: rgb(141, 208, 40);
    background: none;
    transition: 0.3s;
    padding: 5px;
}