<section class="hotbar">
    <h1 class="title">Biblioteca Digital</h1>
    <div class="dropdown">
        <button>Rotas</button>
        <div class="dropdown-content">
            <!--Botões que transitam entre as paginas através do 'routerLink'. Sintaxe:
                <nomedatag routerLink="/rotadapagina" > Qualquer Coisa </nomedatag> -->
            <button routerLink="/acervo-livros">Acervo</button>
            <button routerLink="/lista-livros" >Lista</button>
            <button routerLink="info-livros" >Informações do Livro</button>
        </div>
    </div>
</section>
